@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: "Metamorphous", cursive;
  font-size: 20px;
}

.title-section {
  text-align: center;
  padding-top: 100px;
}

.title-image {
  width: 50%;
}

.title-section {
  background-image: url("../images/background-leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
